@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

h1 {
  font-family: 'Bangers', cursive;
}

ul {
  display: flex;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
}

li {
  background-color: #333;
  width: 25%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1em;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

li .active {
  background-color: #4CAF50;
}

#headline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#motto {
  display: column;
}

@media all and (max-width: 475px) {
  #headline {
    flex-direction: column;
  }
}

@media all and (max-width: 625px) {  
    
  ul {  
    flex-wrap: wrap;  
  }  
    
  ul > li {  
    flex-basis: 100%;  
  }

}