<h2>Heroes&#44; Assemble&#33;</h2>
<h3>Please view the following list of unclaimed helping requests</h3>
<h3>If you find one that you could do, please click the claim button</h3>
    <form (ngSubmit)="onSubmit()" #claimForm="ngForm">
        <div id="request" class="form-group" *ngFor="let request of requests">
            <p>{{request.firstName}}</p>
            <p>{{request.lastName}}</p>
            <p>{{request.service}}</p>
            <p>{{request.dateNeeded}}</p>
            <p>{{request.Email}}</p>
            <p>{{request.phoneNumber}}</p>
            <p>{{request.zipcode}}</p>
            <p>{{request._id}}</p>
            <button type='submit' class="btn btn-secondary" (click)="editRequests(request._id)">Claim</button>
            <p [hidden]="!submitted">Claimed by volunteer</p>
        </div>
    </form>
