<body>
    <div id='helping'>
        <picture>
            <source media="(max-width: 375px)" srcset="../../assets/images/helping-mobile.jpg">
            <source media="(max-width: 729px)" srcset="../../assets/images/helping-small.jpg">
            <source media="(min-width: 730px)" srcset="../../assets/images/helping.jpg">
            <img src="../../assets/images/helping.jpg" alt="Helping people is what we are all about!">
          </picture>
    </div>

    <div id='container'>
        <img src='../assets/images/helpinghero_logo.png' width=150 height=150 alt="Helping Hero">
        <div id="signup">
            <span id="request">
                <h3>Are you are in need?<br>We are here to help!</h3>
                <a routerLink="/request" routerLinkActive="active">
                    <button type="button" class="btn btn-success">Find Help</button>
                </a>
            </span>

            <span id="volunteer">
                <h3>Want to be a Hero?<br>Awesome!</h3>
                <a routerLink="/volunteer" routerLinkActive="active">
                    <button type="button" class="btn btn-success">Sign Up</button>
                </a>
            </span>
        </div>
    </div>

</body>