<h2>VOLUNTEER</h2>
<div><span>id: </span>{{volunteer.volunteerID}}</div>
<div><span>name: </span>{{volunteer.firstName}} {{volunteer.lastName}}</div>
<div>
    <label>First Name:
        <input [(ngModel)]='volunteer.firstName' placeholder='first name'/>
    </label>
    <label>Last Name:
        <input [(ngModel)]='volunteer.lastName' placeholder='first name'/>
    </label>
    <label>Email:
        <input [(ngModel)]='volunteer.email' placeholder='email'/>
    </label>
    <label>City:
        <input [(ngModel)]='volunteer.city' placeholder='city'/>
    </label>
    <label>State:
        <input [(ngModel)]='volunteer.state' placeholder='state'/>
    </label>
    <label>Zip Code:
        <input [(ngModel)]='volunteer.zipCode' placeholder='zip code'/>
    </label>
    <label>Phone Number:
        <input [(ngModel)]='volunteer.phoneNumber' placeholder='XXX-XXX-XXXX'/>
    </label>
    <label>Date of Birth:
        <input [(ngModel)]='volunteer.dateofBirth' placeholder='MM/DD/YYYY'>
    </label>
    <label>Services:
        <input [(ngModel)]='volunteer.services' placeholder='cleaning, cooking, shopping, walking'>
    </label>
</div>