<body>
    <h2>Why Helping Hero?</h2>
    <h3>Because we help those in need!</h3>
    <div id="images">
        <img src='../assets/images/cleaning.jpg' alt='cleaning' width=250>
        <img src='../assets/images/cooking.jpg' alt='cooking' width=250>
        <img src='../assets/images/shopping.jpg' alt='shopping' width=250>
        <img src='../assets/images/walking.jpg' alt='walking' width=250>
    </div>
    <div id="message">
        <p>No matter if it's cooking a hearty meal, 
            tidying up your space, helping someone
            shop for items, or even just walking down
            the street; there are people in
            your community that want to help you.
            Find one by clicking the button below!</p>
        <a routerLink="/request" routerLinkActive="active">
            <button type="button" class="btn btn-success">Find Help</button>
        </a>
    </div>
</body>    

