<header>
    <div id='headline'>
        <a routerLink="/home" routerLinkActive="active">
            <img src='../assets/images/helpinghero_logo2.png' width=150, height=150>
        </a>
        <div id="motto">
            <h1>Helping Hero</h1>
            <h2>Because we care</h2>
        </div>
    </div>
    <nav>
        <!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
        <ul>
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/volunteer" routerLinkActive="active">Be A Hero</a></li>
            <li><a routerLink="/request" routerLinkActive="active">Request Help</a></li>
            <li><a routerLink="/about" routerLinkActive="active">About</a></li> 
        </ul>
    </nav>
</header>
<!-- The routed views render in the <router-outlet>-->
<router-outlet id='router-outlet'></router-outlet>
