<body>
  <div class='container'>
      <div>
          <h2>Need Assitance?</h2>
          <h3>Request Help from Helping Hero</h3>
          <form (ngSubmit)="onRequestSubmit()" #requestForm="ngForm">
              <div class="form-group">
                  <label for="service">Service(s) in need</label>
                  <select class="form-control" id="services"
                          required
                          [(ngModel)]="newRequest.service" name="service"
                          #service="ngModel">
                  <option *ngFor="let service of services" [value]="service">{{service}}</option>
                  </select>
                  <div [hidden]="service.valid || service.pristine" 
                      class="alert alert-danger">
                      Service is required
                  </div>
              </div>

              <div class="form-group">
                  <label for="time">Time</label>
                  <input type="time" value="13:00" class="form-control" id="time"
                          required
                          [(ngModel)]="newRequest.time" name="time"
                          #time="ngModel">
                  <div [hidden]="time.valid || time.pristine" 
                      class="alert alert-danger">
                      Time is required
                  </div>
              </div>

              <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input type="text" class="form-control" id="firstName"
                          required
                          [(ngModel)]="newRequest.firstName" name="firstName"
                          #firstName="ngModel">
                  <div [hidden]="firstName.valid || firstName.pristine" 
                      class="alert alert-danger">
                      First Name is required
                  </div>
              </div>

              <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input type="text" class="form-control" id="lastName"
                          required
                          [(ngModel)]="newRequest.lastName" name="lastName"
                          #lastName="ngModel">
                  <div [hidden]="lastName.valid || lastName.pristine" 
                      class="alert alert-danger">
                      Last Name is required
                  </div>
              </div>

              <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email"
                          required
                          [(ngModel)]="newRequest.email" name="email"
                          #email="ngModel">
                  <div [hidden]="email.valid || email.pristine" 
                      class="alert alert-danger">
                      Email is required
                  </div>
              </div>

              <div class="form-group">
                  <label for="city">City</label>
                  <input type="text" class="form-control" id="city"
                          required
                          [(ngModel)]="newRequest.city" name="city"
                          #city="ngModel">
                  <div [hidden]="city.valid || city.pristine" 
                      class="alert alert-danger">
                      City is required
                  </div>
              </div>

              <div class="form-group">
                  <label for="state">State</label>
                  <input type="text" class="form-control" id="state"
                          required
                          [(ngModel)]="newRequest.state" name="state"
                          #state="ngModel">
                      <div [hidden]="state.valid || state.pristine" 
                          class="alert alert-danger">
                          State is required
                      </div>
              </div>

              <div class="form-group">
                  <label for="zip">Zip</label>
                  <input type="text" class="form-control" id="zip"
                          required
                          [(ngModel)]="newRequest.zip" name="zip"
                          #zip="ngModel">
                  <div [hidden]="zip.valid || zip.pristine" 
                      class="alert alert-danger">
                      Zip is required
                  </div>
              </div>

              <div class="form-group">
                  <label for="phoneNumber">Phone Number &#40;optional&#41;</label>
                  <input type="tel" class="form-control" id="phoneNumber"
                          [(ngModel)]="newRequest.phoneNumber" name="phoneNumber">
              </div>

              <div class="form-group">
                  <label for="birthdate">Date of Birth &#40;optional&#41;</label>
                  <input type="date" class="form-control" id="birthdate"
                          [(ngModel)]="newRequest.phoneNumber" name="birthdate">
              </div>
              <button type="submit" class="btn btn-success" [disabled]="!requestForm.form.valid">Submit</button>
          </form>
      </div>
  </div>

  <div [hidden]="!submitted">
      <h3>Thank you&#44; {{newRequest.firstName}} {{newRequest.time}}&#33;</h3>
  </div>
</body>