<h2>REQUEST</h2>
<div><span>id: </span>{{request.requestID}}</div>
<div><span>name: </span>{{request.firstName}} {{request.lastName}}</div>
<div>
    <label>Services:
        <input [ngmodel]='request.services' placeholder='cleaning, cooking, shopping, walking'>
    </label>
    <label>Time:
        <input [ngmodel]='request.time' placeholder='time start - time end'>
    </label>
    <label>First Name:
        <input [ngmodel]='request.firstName' placeholder='first name'>
    </label>
    <label>Last Name:
        <input [ngmodel]='request.lastName' placeholder='first name'>
    </label>
    <label>Email:
        <input [ngmodel]='request.email' placeholder='email'>
    </label>
    <label>City:
        <input [ngmodel]='request.city' placeholder='city'>
    </label>
    <label>State:
        <input [ngmodel]='request.state' placeholder='state'>
    </label>
    <label>Zip Code:
        <input [ngmodel]='request.zipCode' placeholder='zip code'>
    </label>
    <label>Phone Number:
        <input [ngmodel]='request.phoneNumber' placeholder='XXX-XXX-XXXX'>
    </label>
    <label>Volunteer assigned:</label>
</div>